.hero {
	padding: 30px 0 85px;

	&__title {
		font-size: 84px;
		font-weight: 900;
		max-width: 880px;
	}
	&__cups {
		display: flex;
		align-items: flex-end;
		gap: 20px;
		padding-top: 270px;
	}
	&__cup {
		position: relative;
		width: 100%;
		aspect-ratio: 1/1;
		border-radius: 24px;

		&_pink {
			background: #ff196c;
		}
		&_green {
			background: #ffb72a;
			align-self: flex-start;
			margin-top: -70px;
		}
		&_orange {
			background: #34b905;
		}
	}
	&__img {
		position: absolute;
		width: 55%;
		bottom: 13%;
		left: 50%;
		transform: translateX(-50%);
	}
}
