.header {
	padding: 32px 0;
	&__container {
		padding: 38px 0 60px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__btn-order {
		margin-right: 32px;
	}
	&__btns {
		display: flex;
		align-items: center;
	}
	&__btn {
		display: block;
	}
}
